.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.general-info,
.education-exp,
.practical-exp {
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  align-items:self-end;
  padding: 15px;
} 

#cv-form {
  border: 1px solid white;
  width: 600px;
  padding: 10px;
  margin: 10px;
}
