@font-face {
  font-family: 'Quicksand';
  src: url('./Quicksand/Quicksand-VariableFont_wght.ttf') format('truetype');
}

.App {
  text-align: center;
  font-family: 'Quicksand';
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.buttons-and-input-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 25px;
}

.general-info,
.education-exp,
.practical-exp {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 5%;
  padding: 15px;
  align-items: center;
  background-color: rgb(209, 209, 209);
  padding: 10px;
  margin-top: 10px;
} 

.general-info>label,
.education-exp>label,
.practical-exp>label {
  display: flex;
  flex-direction: column;
}


.user-input {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 100%;
}
#cv-form {
  
  width: 90%;
  padding: 10px;
  margin: 10px;
}

.cv {
  border: 1px solid black;
}